validate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://example.com/order"
  xmlns="http://example.com/order"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <!-- Корневой элемент -->
  <xs:element name="order" type="OrderType"/>

  <!-- Типы -->
  <xs:complexType name="OrderType">
    <xs:sequence>
      <xs:element name="customer" type="CustomerType"/>
      <xs:element name="items" type="ItemsType"/>
      <xs:element name="notes" type="xs:string" minOccurs="0"/>
       <xs:element name="item" type="ItemType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
      <xs:totalDigits value="10"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CurrencyCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USD"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="RUB"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
